In [ ]:
#List Based Practice Problem

In [ ]:
#1. Create a list with integers from 1 to 10.

In [6]:
#creating list of intergers by list comprehension method
int_list=[i for i in range (1,11)]
print(int_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2. Find the length of a list without using the len() function.

In [12]:
#creting list
l=[1,2,3,5]
count=0
#iterating through for loop and getting length
for i in l:
    count=count+1
print("The length of the list:",count)

The length of the list: 4

In [ ]:
#3. Append an element to the end of a list.

In [16]:
#creating a list
l=[10,20,30,40,50]
print("The list:",l)
#creaating a new variable and assiging value
new_num=60
#adding the new value to list by appending and printing the list
l.append(new_num)
print("The updated list:",l)

The list: [10, 20, 30, 40, 50]
The updated list: [10, 20, 30, 40, 50, 60]

In [ ]:
#4. Insert an element at a specific index in a list.

In [19]:
#Creating the list and printing 
l=["apple","orange","grapes"]
print("The list:",l)
#inserting in the 1 st index by using insert function
l.insert(1,"mango")
print("The Upadted specific index list:",l)

The list: ['apple', 'orange', 'grapes']
The Upadted specific index list: ['apple', 'mango', 'orange', 'grapes']

In [ ]:
#5. Remove an element from a list by its value.

In [22]:
#creating the list and printing it
l=[10,20,30,40,50,60]
print("The list:",l)
#Removing the specific value from the list using remove function
l.remove(50)
print("The value removed from list:",l)

The list: [10, 20, 30, 40, 50, 60]
The value removed from list: [10, 20, 30, 40, 60]

In [ ]:
#6. Remove an element from a list by its index.

In [4]:
list_ind=[10,20,30,40,50]
print(list_ind)
index_rem=3
#poping up the element from the list
remove_index=list_ind.pop(index_rem)
print("The index to be removed:",index_rem)
print("The list after removing the index:",list_ind)

[10, 20, 30, 40, 50]
The index to be removed: 3
The list after removing the index: [10, 20, 30, 50]

In [ ]:
#7. Check if an element exists in a list.

In [5]:
ch_list=[10,15,20,25,30,35]
print(ch_list)
ele_exist=15
#checking element exist in list or not
if ele_exist in ch_list:
    print("The element exist in the list is:",ele_exist)
else:
    print("The element does not exist")

[10, 15, 20, 25, 30, 35]
The element exist in the list: 15

In [ ]:
#8. Find the index of the first occurrence of an element in a list.

In [10]:
in_list=[10,20,30,40,50]
print(in_list)
ele_find=30
#finding the index of the element by index function and printing it
index=in_list.index(ele_find)
print(f"The index of element to find {ele_find} is:",index)

[10, 20, 30, 40, 50]
The index of element to find 30 is: 2

In [ ]:
#9. Count the occurrences of an element in a list.

In [12]:
occ_list=[10,20,40,40,50,40,60]
print(occ_list)
find_ele=40
#checking the occurrence of the element by count
occ_ele=occ_list.count(find_ele)
print(f"The occurrences of {find_ele} in the list is:",occ_ele)

[10, 20, 40, 40, 50, 40, 60]
The occurrences of 40 in the list is: 3

In [ ]:
#10. Reverse the order of elements in a list.

In [9]:
re_list=[10,20,30,40]
print("The orginal list:",re_list)
#reversing the list
re_list.reverse()
print("The reversed list is:",re_list)

The orginal list: [10, 20, 30, 40]
The reversed list is: [40, 30, 20, 10]

In [ ]:
#11. Sort a list in ascending order.

In [6]:
sort_list=[50,10,80,90,20,60]
print("The orginal list:",sort_list)
#sorting the list
sort_list.sort()
print("The sorted list:" ,so_list)

The orginal list: [50, 10, 80, 90, 20, 60]
The sorted list: [10, 20, 50, 60, 80, 90]

In [5]:
#12. Sort a list in descending order.

In [7]:
desort_list=[50,10,40,90,70,60]
print("The orginal list:",desort_list)

#sorting the list in descending order
desort_list.sort(reverse=True)
print("The list in descending order:",desort_list)

The orginal list: [50, 10, 40, 90, 70, 60]
The list in descending order: [90, 70, 60, 50, 40, 10]

In [8]:
#13. Create a list of even numbers from 1 to 20.

In [11]:
even_numbers=[]
#ierating through for loop and checking reminder 0 or not for even number
for i in range(1,21):
    if i%2==0:
        even_numbers.append(i)
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [1]:
#14. Create a list of odd numbers from 1 to 20.

In [14]:
odd_number=[]
#ierating through for loop and checking reminder 0 or not for even number
for i in range(1,21):
        if i%2!=0:
            odd_number.append(i)
print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [15]:
#15. Find the sum of all elements in a list.

In [34]:
all_list=[2,4,6,8,10]
#calculating the sum of elements in the list
sum_list=sum(all_list)
print("The sum of list:",sum_list)

The sum of list: 30

In [35]:
#16. Find the maximum value in a list.

In [37]:
mlist=[10,50,20,30,80]
#finding the maximum value in the list
max_list=max(mlist)
print("The maximum Value in the list:",max_list)

The maximum number is: 80

In [38]:
#17. Find the minimum value in a list.

In [39]:
mimlist=[10,20,40,80]
#finding the minimum value in the list
min_list=min(mimlist)
print("The minimum value in list:",min_list)

The minimum value in list: 10

In [40]:
#18. Create a list of squares of numbers from 1 to 10.

In [43]:
square_list=[]
#finding the square of numbers
for i in range(1,11):
    square_list.append(i*i)
print("The list of square is:" ,square_list)

The list of square is: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [44]:
#19. Create a list of random numbers.

In [2]:
#importing random module
import random
random_list=[]
n=10
#generating the random numbers by using randint () and appending in the list
for i in range(n):
    random_list.append(random.randint(4,10))
print(random_list)

[5, 7, 10, 4, 8, 7, 9, 7, 4, 6]

In [1]:
#20. Remove duplicates from a list.

In [2]:
rl=[10,10,20,30,50,50,60]
print("The orginal list" , rl)
#removing duplicates by coverting to set
unq_list=list(set(rl))
print("The list after removing duplicates", unq_list)

The orginal list [10, 10, 20, 30, 50, 50, 60]
The list after removing duplicates [10, 50, 20, 60, 30]

In [3]:
#21. Find the common elements between two lists.

In [4]:
li1=[10,20,30,40,50,50]
li2=[10,20,45,35,50,65]
print(li1)
print(li2)
#checking the common elements using list comprehension
common_num=[i for i in li1 if i in li2]
print("The common elements:",common_num)

[10, 20, 30, 40, 50, 50]
[10, 20, 45, 35, 50, 65]
The common elements: [10, 20, 50, 50]

In [5]:
#22. Find the difference between two lists.

In [7]:
l1=[10,20,30,40,50]
l2=[10,15,25,20,30]
print(l1)
print(l2)
#finding the differnce two list by using differnce method
diff=list(set(l1).difference(l2))
print("The differnce is:",diff)

[10, 20, 30, 40, 50]
[10, 15, 25, 20, 30]
The differnce is: [50, 40]

In [8]:
#23. Merge two lists.

In [9]:
lm1=[10,20,30,40,50]
lm2=[15,25,35,45,55]
print(lm1)
print(lm2)
#merging the list by adding the list
merge_list=lm1+lm2
print("The merge list is:", merge_list)

[10, 20, 30, 40, 50]
[15, 25, 35, 45, 55]
The merge list is: [10, 20, 30, 40, 50, 15, 25, 35, 45, 55]

In [10]:
#24. Multiply all elements in a list by 2.

In [6]:
ml=[2,3,4,5,6,8]
print(ml)
new_list=[]
#iterating through each element and multipling by 2
for i in ml:
    i=i*2
    #appending to the new list
    new_list.append(i)
print("The new list", new_list)

[2, 3, 4, 5, 6, 8]
The new list [4, 6, 8, 10, 12, 16]

In [7]:
#25. Filter out all even numbers from a list.

In [11]:
l1=[2,5,4,8,10,13,14,15]
print(l1)
l2=[]
#iterating through each element and checking its not divisble by 2
for i in l1:
    if i%2!=0:
        l2.append(i)
print("The even removed list:", l2)

[2, 5, 4, 8, 10, 13, 14, 15]
The even removed list: [5, 13, 15]

In [10]:
#26. Convert a list of strings to a list of integers.

In [19]:
string_list=["10","20","50","30","40"]
print("The string list:",string_list)
#converting list of strings into list of intergers using list comprehensions
int_list=[int(i) for i in string_list]
print("The integer list:", int_list)

The string list: ['10', '20', '50', '30', '40']
The integer list: [10, 20, 50, 30, 40]

In [20]:
#27. Convert a list of integers to a list of strings.

In [22]:
int_list=[10,20,30,40,50]
print("The interger list:",int_list)
#converting the interger list into string list by list comprehension
string_list=[str(i) for i in int_list]
print("The string list:",string_list)

The interger list: [10, 20, 30, 40, 50]
The string list: ['10', '20', '30', '40', '50']

In [23]:
#29. Create a list of the first 10 Fibonacci numbers.

In [30]:
def fib(n):
    #initizing first two fib numbers
    fib_list=[0,1]
    #generating the fib numbers by formula fn=fn-1+ fn-2 and appending the elements in thr fib list
    for i in range(2,n):
        next_fib=fib_list[i-1] + fib_list[i-2]
        fib_list.append(next_fib)
        
    return fib_list

In [31]:
fib(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [1]:
# 30. Check if a list is sorted.

In [7]:
def ascen_sort(l1):
    #checking the list is in ascending order or not
    for i in range(1,len(l1)):
        if l1[i]<l1[i-1]:
            return False
    return True

In [8]:
ascen_sort([10,50,40,30])

False

In [32]:
#35. Find the second largest number in a list.

In [34]:
l1=[10,20,15,25,45]
#removing duplicates and sorting the list
sort_list=sorted(set(l1))
#checking the second largest number in the list
if len(sort_list)>=2:
    sec_lar=sort_list[-2]
    print("second largest number:",sec_lar)
else:
    print("The list not contain elements")

second largest number: 25

In [2]:
#36. Replace every element in a list with its square.

In [3]:
m_list=[2,4,6,8,10]
print(m_list)
#finding the square of numbers using list comprehension
squ_list=[i**2 for i in m_list]
print("The square list:",squ_list)

[2, 4, 6, 8, 10]
The square list: [4, 16, 36, 64, 100]

In [4]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [5]:
my_list=['rose','jasmine','sunflower','lilly']
#converting the list into dictionary using dic comprehension
my_dic={element: index for index ,element in enumerate(my_list)}
print("The dictionary:",my_dic)

The dictionary: {'rose': 0, 'jasmine': 1, 'sunflower': 2, 'lilly': 3}

In [6]:
#38. Shuffle the elements of a list randomly.

In [8]:
import random
s_list=[10,20,30,40,50,60]
print(s_list)
#shuffle the list randomly
random.shuffle(s_list)
print("The shuffled list:",s_list)

[10, 20, 30, 40, 50, 60]
The shuffled list: [30, 60, 50, 10, 40, 20]

In [9]:
#39. Create a list of the first 10 factorial numbers.

In [11]:
#creatig the function
def fac(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fac(n-1)
    #generating the first  factorial
fac_num=[fac(i) for i in range(10)]
print("The list of first 10 th factorial is:",fac_num)

The list of first 10 th factorial is: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [12]:
#40. Check if two lists have at least one element in common.

In [56]:
#creating function for checking common elements in list

def comm_ele(l1,l2):
    for item in l1:
        if item in l2:
            return True
    return False

In [57]:
comm_ele([10,20,30] ,[10,15,35])
        
if comm_ele(l1,l2):
    print("The list contains common elements")
else:
    print("The list does not contains common elements")

The list contains common elements

In [1]:
#41. Remove all elements from a list.

In [2]:
rem_list=[10,20,30,40]
print(rem_list)
#removing all elements from list
rem_list.clear()
print("Clear List:")

[10, 20, 30, 40]
Clear List:

In [3]:
#42. Replace negative numbers in a list with 0.

In [5]:
neg_list=[10,-20,30,-40,50,-60]
print(neg_list)
#iterating through each element and replacing negative number with zero
for i in range(len(neg_list)):
    if neg_list[i]<0:
        neg_list[i]=0
print("The list replace with zero:",neg_list)

[10, -20, 30, -40, 50, -60]
The list replace with zero: [10, 0, 30, 0, 50, 0]

In [6]:
#43. Convert a string into a list of words.

In [10]:
str1="Have a nice Day"
print(str1)
#converting strings to words
word_list=str1.split()
print("list of words",word_list)

Have a nice Day
list of words ['Have', 'a', 'nice', 'Day']

In [11]:
#44. Convert a list of words into a string.

In [13]:
word_list=["Have","a","nice","Day"]
print(word_list)
#converting the words to string
str_word=" ".join(word_list)
print("Words to string:",str_word)

['Have', 'a', 'nice', 'Day']
Words to string: Have a nice Day

In [14]:
#45. Create a list of the first n powers of 2.

In [16]:
n=5
#creating first n powers using loop
pow_list=[2**i for i in range(n)]
print("The list of first 5  powers of 2:",pow_list)

The list of first 5  powers of 2: [1, 2, 4, 8, 16]

In [1]:
#46. Find the longest string in a list of strings.

In [2]:
str_list=["red","white","pink","blue","yellow"]
long_str=""
#finding the longest string
for i in str_list:
    if len(i)>len(long_str):
        long_str=i
print("The longest string is:",long_str)

The longest string is: yellow

In [3]:
#47. Find the shortest string in a list of strings.

In [5]:
str_list=["red","white","pink","blue","yellow"]
short_str=str_list[0]
#finding the shortest string
for i in str_list:
    if len(i)<len(short_str):
        short_str=i
print("The shortest string is:",short_str)

The shortest string is: red

In [6]:
#50. Swap two elements in a list by their indices.

In [7]:
sw_list=[1,2,3,4,5]
print(sw_list)
index1=1
index2=4
#swap the list in the specifed index
temp=sw_list[index1]
sw_list[index1]=sw_list[index2]
sw_list[index2]=temp
print("The list after swapping:",sw_list)

[1, 2, 3, 4, 5]
The list after swapping: [1, 5, 3, 4, 2]