In [ ]:
#Tuple Based Practice Problem

In [ ]:
#1. Create a tuple with integers from 1 to 5.

In [3]:
#creting tuples with integers and printing
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [ ]:
#2. Access the third element of a tuple.

In [5]:
#cfeating tuples and accsessing its 1st index value
t=("red","apple","white","roses")
print(t[1])

apple

In [ ]:
#3. Find the length of a tuple without using the `len()` function.

In [9]:
t=(10,50,70,60)
count=0
for i in t:
    count=count+1
print("The length of tuple is:",count)

The length of tuple is: 4

In [ ]:
#4. Count the occurrences of an element in a tuple.

In [16]:
#creatinf tuple
t=(10,50,10,80,10,60)
#assinging which element to be checked
find_occ=10
#Finding the occurrence of specifed element by count function
print("The value occurrenced:",t.count(find_occ))

The value occurrenced: 3

In [ ]:
#5. Find the index of the first occurrence of an element in a tuple.

In [26]:
#creating a tuple
t=(10,40,20,80,10,45,35,40)
#assiging variable to find which element to check
find_num=40
#initializing index -1 as element not found
index=-1
#iterate through the tuple and using enumerate function to return counter and its value
for i,item in enumerate(t):
    if item==find_num:
        index=i
        #exting the loop if first occurrence found
        break
        #printing the index of first occurrence
if index!=-1:
    print(f"The first occurrence of {find_num} is at index:{index}")
else:
    print(f"{find_num} is not found")

The first occurrence of 40 is at index:1

In [1]:
#6. Check if an element exists in a tuple.

In [13]:
ele_tup=(10,20,30,40)
print(ele_tup)
ele_check=20
print("The element to check:",ele_check)
#checking the element in the tuple
if ele_check in ele_tup:
    print("The element exsist in the tuple:",ele_check)
else:
    print("The element does nit exsist")

(10, 20, 30, 40)
The element to check: 20
The element exsist in the tuple: 20

In [5]:
#7. Convert a tuple to a list.

In [14]:
my_tup=(10,20,30,40)
print(my_tup)
#converting the tuple to list
tup_list=list(my_tup)
print("The converted tuple to list:",tup_list)

(10, 20, 30, 40)
The converted tuple to list: [10, 20, 30, 40]

In [9]:
#8. Convert a list to a tuple.

In [15]:
my_list=[10,20,30,40]
print(my_list)
#converting list to tuple
tup=tuple(my_list)
print("The converted list to tuple:",tup)

[10, 20, 30, 40]
The converted list to tuple: (10, 20, 30, 40)

In [16]:
#9. Unpack the elements of a tuple into variables.

In [18]:
tup=(10,20,30,40)
#unpacking the tuple to variables
var1,var2,var3,var4=tup
print("var1:",var1)
print("var2:",var2)
print("var3:",var3)
print("var4:",var4)

var1: 10
var2: 20
var3: 30
var4: 40

In [19]:
#10. Create a tuple of even numbers from 1 to 10.

In [20]:
#creating the even numbers using list comprehension
even_num=[num for num in range(2,11,2)]
#converting to tuple
even_tuple=tuple(even_num)
print("The even numbers:",even_tuple)

The even numbers: (2, 4, 6, 8, 10)

In [21]:
#11. Create a tuple of odd numbers from 1 to 10

In [31]:
#creating the odd numbers using list comprehension
odd_num=[num for num in range(1,10,2)]
#converting to tuple
odd_tup=tuple(odd_num)
print("The odd numbers:",odd_tup)

The od numbers: (1, 3, 5, 7, 9)

In [32]:
#12. Concatenate two tuples.

In [33]:
tup1=(10,20,30,40)
tup2=(50,60,70,80)
#concatenateing the tuple
con_tup=tup1+tup2
print("The concatenated tuple:",con_tup)

The concatenated tuple: (10, 20, 30, 40, 50, 60, 70, 80)

In [34]:
#13. Repeat a tuple three times.

In [35]:
tup=(10,20,30)
#repeating the tuple 3 times
rep_tup=tup*3
print("The repated tuple:",rep_tup)

The repated tuple: (10, 20, 30, 10, 20, 30, 10, 20, 30)

In [36]:
#15. Create a nested tuple.

In [38]:
#creating the nested tuple 
nested_tup=((10,20,30),('red','pink','white'),(True,False))
print("The nested tuple:",nested_tup)

The nested tuple: ((10, 20, 30), ('red', 'pink', 'white'), (True, False))

In [1]:
#16. Access the first element of a nested tuple.

In [2]:
nested_tup=((10,20,30),('red','pink','white'),(True,False))
#accessing the first elemnt in the tuple
first_ele=nested_tup[0]
print("The first element in the nested tuple:",first_ele)

The first element in the nested tuple: (10, 20, 30)

In [3]:
#17. Create a tuple with a single element.

In [4]:
single_tup=(10,)
print("The tuple with the single element:",single_tup)

The tuple with the single element: (10,)

In [5]:
#19. Delete a tuple.

In [6]:
del_tup=(10,20,30)
#deleting the tuple
del del_tup
print(del_tup)

NameError: name 'del_tup' is not defined

In [7]:
#20. Slice a tuple.

In [2]:
slice_tuple=(10,20,30,40,50,60)
#creating the slicing by indexing
sl_tuple=slice_tuple[2:5]
print(sl_tuple)

(30, 40, 50)

In [1]:
#21. Find the maximum value in a tuple.

In [6]:
mx_tup=(10,20,40,30,50)
print(mx_tup)
#finding the maxmimun num by using max() and printing
max_tuple=max(mx_tup)
print("The max element of tuple:",max_tuple)

(10, 20, 40, 30, 50)
The max element of tuple: 50

In [5]:
#22. Find the minimum value in a tuple.

In [2]:
mi_tup=(10,30,20,40,50)
print(mi_tup)
#finding the minimum value
min_tuple=min(mi_tup)
print("The minimum value:",min_tuple)

(10, 30, 20, 40, 50)
The minimum value: 10

In [3]:
#23. Convert a string to a tuple of characters.

In [4]:
my_str="Have a nice day"
#converting the string to tuple
str_tup=tuple(my_str)
print("Converted string to tuple:",str_tup)

Converted string to tuple: ('H', 'a', 'v', 'e', ' ', 'a', ' ', 'n', 'i', 'c', 'e', ' ', 'd', 'a', 'y')

In [5]:
#24. Convert a tuple of characters to a string.

In [9]:
str_tup=('h','e','l','l','o')
#converting the char to string using join method
tup_str=''.join(str_tup)
print("convered string:",tup_str)

convered string: hello

In [10]:
#25. Create a tuple from multiple data types.

In [11]:
mix_tuple=('hello',10,25.3,True)
print("Mixed tuple:",mix_tuple)

Mixed tuple: ('hello', 10, 25.3, True)

In [12]:
#26. Check if two tuples are identical.

In [16]:
t1=(10,20,30)
t2=(10,20,30)
#checking if tuples are identical or not
if t1==t2:
    print("Tuples are identical")
else:
    print("Tuples are notidentical")

Tuples are identical

In [17]:
#27. Sort the elements of a tuple.

In [19]:
sor_tup=(20,10,30,50,40)
print(sor_tup)
#sorting the tuple 
sorted_tuple=tuple(sorted(sor_tup))
print("The sorted tuple:", sorted_tuple)

(20, 10, 30, 50, 40)
The sorted tuple: (10, 20, 30, 40, 50)

In [1]:
#28. Convert a tuple of integers to a tuple of strings.

In [3]:
int_tup=(10,20,30)
#converting to tuple strings
str_tup=tuple(str(i)for i in int_tup)
print(str_tup)

('10', '20', '30')

In [4]:
#29. Convert a tuple of strings to a tuple of integers.

In [6]:
str_tup=('10','20','30')
#converting to tuple of intergers 
int_tup=tuple(int(i)for i in str_tup)
print(int_tup)

(10, 20, 30)

In [7]:
#30. Merge two tuples.

In [8]:
m_tup=(10,20,30)
mtup1=(40,50,60)
merge_tuple=m_tup+mtup1
print("Merged tuple:",merge_tuple)

Merged tuple: (10, 20, 30, 40, 50, 60)

In [9]:
#32. Create a tuple of the first 5 prime numbers.

In [16]:
#creating function for prime numbers
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

In [17]:
is_prime(5)
#generating first five prime numbers and converting to tuple
prime_list=tuple([num for num in range(2,100) if is_prime(num)][:5])
print(prime_list)

(2, 3, 5, 7, 11)

In [18]:
# 33. Check if a tuple is a palindrome.

In [27]:
pal_tuple=(10,20,30,20,10)
#checking its palindrome or not
if pal_tuple==pal_tuple[::-1]:
    print("Its palindrome")
else:
    print("Its not palindrome")

Its palindrome

In [28]:
#34. Create a tuple of squares of numbers from 1 to 5.

In [1]:
#creating squares of numbers using comprehension 
square_tuple=tuple(i**2 for i in range(1,6))
print("Tuple square:",square_tuple)

Tuple square: (1, 4, 9, 16, 25)

In [2]:
#35. Filter out all even numbers from a tuple.

In [4]:
tup=(1,2,3,4,5,6,7,8,9,10)
print(tup)
#filtering even numbers using comprehension method
fil_even=tuple(i for i in tup if i%2!=0)
print("Filtered even numbers:",fil_even)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Filtered even numbers: (1, 3, 5, 7, 9)

In [5]:
#36. Multiply all elements in a tuple by 2.

In [7]:
t1=(1,2,3,4,5,6)
print(t1)
#multiplying tuple element by 2 by list comprehension 
mul_tup=tuple(i*2 for i in t1)
print("Tuple multipled by 2:",mul_tup)

(1, 2, 3, 4, 5, 6)
Tuple multipled by 2: (2, 4, 6, 8, 10, 12)

In [8]:
#37. Create a tuple of random numbers.

In [12]:
import random
#creating ramdom numbers using list comprehension
ramdom_tuple=tuple(random.randint(1,100) for i in range(10))
print("The random numbers:",ramdom_tuple)

The random numbers: (93, 45, 82, 8, 72, 47, 22, 87, 22, 18)

In [13]:
#38. Check if a tuple is sorted.

In [31]:
#creating function for checking tuple sorted or not
def is_sorted(tup):
    for i in range(len(tup)-1):  
        if tup[i]>tup[i+1]:
            return False
    return  True

In [35]:
print("The tuple is sorted:",is_sorted((10,20,30)))

The tuple is sorted: True

In [36]:
#39. Rotate a tuple to the left by n positions.

In [39]:
#creating the function for rotating the tuple to left
def rotate_tup(tup,n):
    n=n%len(tup)
    #rotating the tuple
    rotate_tup=tup[n:]+tup[:n]
    return rotate_tup

In [40]:
rotate_tup((1,2,3,4,5),2)

(3, 4, 5, 1, 2)

In [41]:
#40. Rotate a tuple to the right by n positions.

In [42]:
#creating the function for rotating the tuple to right
def rotate_tup_right(tup,n):
    n=n%len(tup)
    #rotating the tuple
    rotate_tup_right=tup[-n:]+tup[:-n]
    return rotate_tup_right

In [43]:
rotate_tup_right((1,2,3,4,5),2)

(4, 5, 1, 2, 3)

In [44]:
#42. Create a tuple from user input.

In [47]:
#creating user input
str_inp=input("Enter a sentence")
#converting user input to tuple
str_tup=tuple(str_inp)
print("User Inputed Tuple:",str_tup)

Enter a sentence Hello World

User Inputed Tuple: ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [48]:
#44. Reverse the elements of a tuple.

In [50]:
m_tuple=(10,20,30,40)
print(m_tuple)
#reversing the tuple
reverse_tuple=m_tuple[::-1]
print("The reverse tuple:",reverse_tuple)

(10, 20, 30, 40)
The reverse tuple: (40, 30, 20, 10)

In [51]:
#45. Create a tuple of the first n powers of 2.

In [55]:
n=5
#creating first 5 power of 2 using list comprehension
power_tuple=tuple(2**i for i in range(n))
print("The tuple of first",n,"power of 2",power_tuple)

The tuple of first 5 power of 2 (1, 2, 4, 8, 16)

In [56]:
#46. Find the longest string in a tuple of strings.

In [65]:
tuple_str=("Red","yellow","blue","pink","light pink")
#finding the longest string in the tuple
max_tuple=max(tuple_str,key=len)
print("The longest string is:",max_tuple)

The longest string is: light pink

In [66]:
#47. Find the shortest string in a tuple of strings.

In [68]:
tuple_str=("Red","yellow","blue","pink","light pink")
#finding the shortest string in the tuple
min_tuple=min(tuple_str,key=len)
print("The shortest string is:",min_tuple)

The shortest string is: Red

In [69]:
#48. Create a tuple of the first n triangular numbers.

In [73]:
n=5
#creating first 5 tringular numbers using list comprehension
tri_tuple=tuple((i*(i+1)//2 for i in range(1,n+1)))
print("Tuple of first",n,"triangular numbers",tri_tuple)

Tuple of first 5 triangular numbers (1, 3, 6, 10, 15)

In [74]:
#50. Create a tuple of alternating 1s and 0s of length n.

In [75]:
n=10
#creating alternating 1s and 0s using comprehesion
alter_tuple=tuple(i%2 for i in range(n))
print("tuple of alternatings 1s and 0s",alter_tuple)

tuple of alternatings 1s and 0s (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [76]:
#49. Check if a tuple contains another tuple as a subsequence.

In [81]:
main_tuple=(10,20,30,40,50,60)
sub_tuple=(20,30,40,)
#checking the tuple is subset or not by converting tuple to set and using function issubset and printing
is_subset=set(sub_tuple).issubset(main_tuple)
print("The tuple is a subset?",is_subset)

The tuple is a subset? True