In [ ]:
#Set Based Practice Problem

In [ ]:
#1. Create a set with integers from 1 to 5.

In [1]:
s={1,2,3,4,5}

In [ ]:
#2. Add an element to a set.

In [5]:
#adding element on set using add function
s.add(6)

In [6]:
s

{1, 2, 3, 4, 5, 6}

In [ ]:
#3. Remove an element from a set.

In [18]:
s1={"one","two","three","four"}

In [19]:
s1

{'four', 'one', 'three', 'two'}

In [20]:
s1.remove("two")

In [21]:
s1

{'four', 'one', 'three'}

In [ ]:
#4. Check if an element exists in a set.

In [51]:
#creating a set
s2={"rahul","dev","manju","latha","sam","piya"}
#accepting from user which element to check
new_str=input("Enter an element")
#checking the inputed element in the set by using if conditon
if new_str in s2:
    print("The element exist in the set", )
else:
    print("The element does not exist in the set")

Enter an element dev

The element exist in the set

In [ ]:
#5. Find the length of a set without using the `len()` function.

In [1]:
#creating a set
new_set={1,5,7,9,10,11,12}
count=0
#checking the length through for loop and printing it
for i in new_set:
    count=count+1
print("The length of the set is:" , count)

The length of the set is: 7

In [ ]:
#6. Clear all elements from a set.

In [7]:
#creating a set
s2={1,2,3,4,5,6,7}

In [9]:
s2

{1, 2, 3, 4, 5, 6, 7}

In [12]:
#clearing all the elemnts from the set
s2.clear()

In [13]:
s2

set()

In [ ]:
#7. Create a set of even numbers from 1 to 10.

In [16]:
#initialazing the empty set
even_set=set()
#ierating through for loop
for i in range(1,11):
    #checking for even numbers and adding to the empty set , printing it
    if i%2==0:
        even_set.add(i)
print(even_set)

{2, 4, 6, 8, 10}

In [ ]:
#8. Create a set of odd numbers from 1 to 10.

In [20]:
#initialazing the empty set
odd_set= set()
#ierating through for loop
for i in range(1,11):
     #checking for even numbers and adding to the empty set , printing it
    if i%2!=0:
        odd_set.add(i)
print(odd_set)

{1, 3, 5, 7, 9}

In [ ]:
#9. Find the union of two sets.

In [21]:
#creating two sets
set1={1,2,3,4,5}
set2={6,7,8,9,10}
#creating a union set by using union function and printing it
set_union=set1.union(set2)
print(set1)
print(set2)
print(set_union)

{1, 2, 3, 4, 5}
{6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#10. Find the intersection of two sets.

In [24]:
#creating two sets
inset1={1,2,3,4,5,6,11,8}
inset2={7,8,9,10,11,2,4}
#creating a new intersection set by using intersection function and printing it
inter_set=inset1.intersection(inset2)
print(inset1)
print(inset2)
print(inter_set)

{1, 2, 3, 4, 5, 6, 8, 11}
{2, 4, 7, 8, 9, 10, 11}
{8, 2, 11, 4}

In [ ]:
#11. Find the difference between two sets.

In [28]:
#creating two sets
difset1={10,20,30,45,10,65}
difset2={45,32,85,30,65,32}
#creating a new difference set using difference function and printing it
diff_set=difset1.difference(difset2)
print(difset1)
print(difset2)
print(diff_set)

{65, 20, 10, 45, 30}
{32, 65, 85, 45, 30}
{10, 20}

In [ ]:
#12. Check if a set is a subset of another set.

In [31]:
#creating the two sets
subset1={1,2,3,4,5}
subset2={1,2,3,4,5,6,7,8,9}
#checking the set1 is a subset of set2 using issubset method
sub_set=subset1.issubset(subset2)
print(subset1)
print(subset2)
print("the set1 subset of set2:" ,sub_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
the set1 subset of set2: True

In [ ]:
#13. Check if a set is a superset of another set.

In [33]:
#creating the two sets
supset1={1,2,3,4,5,6,7,8,9,10,11,12}
supset2={1,2,3,4,5,6,7,8,9}
#checking the set1 is a superset of set2 using the issuperset method
super_set=supset1.issuperset(supset2)
print(supset1)
print(supset2)
print("The set1 is a superset of set2:", super_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
The set1 is a superset of set2: True

In [ ]:
#14. Create a set from a list.

In [38]:
#creating the list
list1=[1,2,2,3,4,4,5,6,6,7,8,9,9]
#creating the set using set function from list
set_list=set(list1)
print("The list is:" ,list1)
print("The set from list is :" ,set_list)

The list is: [1, 2, 2, 3, 4, 4, 5, 6, 6, 7, 8, 9, 9]
The set from list is : {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
#15. Convert a set to a list.

In [39]:
sett={1,8,3,4,5,9,7,6,10}
list_set=list(sett)
print("The set is:", sett)
print("The list from set is:", list_set)

The set is: {1, 3, 4, 5, 6, 7, 8, 9, 10}
The list from set is: [1, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#16. Remove a random element from a set.

In [56]:
#importing random module
import random
#creating the set
ram_set={1,2,3,4,5,6,7}
print(ram_set)
#chosing the random element from the set using ramdom choice function and removing it
ramdom_element= random.choice(list(ram_set))
ram_set.remove(ramdom_element)
print("The random element is:",ramdom_element)
print("Updated set after removing ramdom element:",ram_set)

{1, 2, 3, 4, 5, 6, 7}
The random element is: 1
Updated set after removing ramdom element: {2, 3, 4, 5, 6, 7}

In [ ]:
#17. Pop an element from a set.

In [54]:
#creating a set
pset={4,5,2,1,3,9}
print("The set is :" ,pset)
#poping the element from the set using pop function and printing
pop_set=pset.pop()
print("The pop element is:", pop_set) 
print("The updated set is:" ,pset)

The set is : {1, 2, 3, 4, 5, 9}
The pop element is: 1
The updated set is: {2, 3, 4, 5, 9}

In [ ]:
#18. Check if two sets have no elements in common.

In [16]:
#creating two sets
sm1={10,20,25,35,85,45,75}
sm2={11,222,350,15,450,60,70}
#checking if the intersection of two sets are common
set_common=sm1.intersection(sm2)
print("The set one:" ,sm1)
print("The set two:", sm2)
#checking through if conditions if common elements are there or not
if set_common:
    print("The set have common elements:",set_common)
else:
    print("The set have no common elements:", set_common)

The set one: {35, 20, 85, 25, 10, 75, 45}
The set two: {450, 70, 11, 60, 222, 350, 15}
The set have no common elements: set()

In [ ]:
#19. Find the symmetric difference between two sets.

In [21]:
#creating two sets
sd1={10,20,30,40,50}
sd2={10,50,90,80,60}
#checking the symmetric difference of two sets using symmetric differnce function
symm_diff=sd1.symmetric_difference(sd2)
print("The symmetirc difference of two sets are:" ,symm_diff)

The symmetirc difference of two sets are: {80, 20, 90, 40, 60, 30}

In [ ]:
#20. Update a set with elements from another set.

In [25]:
#creting the two sets 
us1={10,20,30,4,50,60}
print(us1)
us2={70,80,90,100,110}
print(us2)
#updating the set1 with value of set2 using update funnction
us1.update(us2)
print("The updated set is:",us1)

{50, 4, 20, 10, 60, 30}
{80, 100, 70, 90, 110}
The updated set is: {4, 100, 70, 10, 110, 80, 50, 20, 90, 60, 30}

In [ ]:
#21. Create a set of the first 5 prime numbers.

In [2]:
#creating function for prime numbers
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
#assinging empty set
prime_set = set()
num = 2
#checking first 5 prime numbers using loop
while len(prime_set) < 5:
    if is_prime(num):
        #if its prime number then adding to set
        prime_set.add(num)  
    num += 1
prime_set
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [ ]:
#22. Check if two sets are identical.

In [3]:
#creating two sets
iset1={10,20,30,50,60}
iset2={20,10,30,60,50}
#checking the sets are identical
if iset1==iset2:
    print("The sets are identical")
else:
    print("The sets are not identical")

The sets are identical

In [ ]:
#23. Create a frozen set.

In [4]:
#creating a list
l1=[10,20,30,40,50]
#creating frozen set using frozenset function and printing it
frozen_set=frozenset(l1)
print("The frozen set:",frozen_set)

The frozen set: frozenset({40, 10, 50, 20, 30})

In [ ]:
#24. Check if a set is disjoint with another set.

In [3]:
#creating two sets
dis1={10,20,30,40,50,60}
dis2={15,25,35,45,55,65}
#checking two sets are disjoint or not by using isdisjoint function
dis_joint=dis1.isdisjoint(dis2)
print("The first set is:", dis1)
print("The second set is:",dis2)
print(dis_joint)

The first set is: {50, 20, 40, 10, 60, 30}
The second set is: {65, 35, 55, 25, 45, 15}
True

In [ ]:
#25. Create a set of squares of numbers from 1 to 5.

In [10]:
#finding the square of numbers
square_num={x**2 for x in range(1,6)}
print("The squares of numbers 1 to 5 is :" ,square_num)

The squares of numbers 1 to 5 is : {1, 4, 9, 16, 25}

In [ ]:
#26. Filter out all even numbers from a set.

In [6]:
#creating a set
evs1={2,5,6,4,8,9,11}
#assiging empty set
even_set=set()
#checking if number is even or not by ietrating and by if divisible by 2 
for num in evs1:
    if num%2==0:
        even_set.add(num)
print(even_set)

{8, 2, 4, 6}

In [ ]:
#27. Multiply all elements in a set by 2.

In [5]:
#creating a set
muls1={2,3,4,5,6,7,8}
print("The created set:",muls1)
#initizling a null set
multi_set=set()
#iterating through each element and multiplying with 2 
for i in muls1:
    i=i*2
   #assiging in the empty set and printing it
    multi_set.add(i)
print("The set multiplied by 2:",multi_set)

The created set: {2, 3, 4, 5, 6, 7, 8}
The set multiplied by 2: {4, 6, 8, 10, 12, 14, 16}

In [ ]:
#28. Create a set of random numbers.

In [7]:
#importing random module
import random
#assiging how many numbers want and empty set
ram_num=5
ram_set=set()
#using loop genearting ramdom numbers by randint function
for i in range(ram_num):
    ramdom_num=random.randint(1,50)
    ram_set.add(ramdom_num)
print("The genearted random numbers:",ram_set)

The genearted random numbers: {3, 8, 19, 21, 23}

In [ ]:
#29. Check if a set is empty.

In [24]:
#creating an empty set
emp_set={}
#checking the set is empty or not by if function and printing it
if not emp_set:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

In [ ]:
#30. Create a nested set (hint: use frozenset).

In [3]:
#creating two sets
frs1={10,20,30,40}
frs2={20,50,60,70}
#creating frozen sets and assiging the values
frozen_set1=frozenset(frs1)
frozen_set2=frozenset(frs2)
nest_set={frozen_set1,frozen_set2}
print("The nested set is:",nest_set)

The nested set is: {frozenset({40, 10, 20, 30}), frozenset({50, 20, 70, 60})}

In [ ]:
#31. Remove an element from a set using the discard method.

In [9]:
#creating the set
diset={10,20,30,40,50}
print("The set is:",diset)
#discareded element and discarding using discard function
dis_elem=30
diset.discard(dis_elem)
print("The discarded element is:", dis_elem)
print("The set after discared element:",diset)

The set is: {50, 20, 40, 10, 30}
The discarded element is: 30
The set after discared element: {50, 20, 40, 10}

In [ ]:
#33. Create a set from a string.

In [15]:
#creating the string and printing it
str1="Hello World"
print("The string is:",str1)
#assiging string to set using set constructor and printing it
str_set=set(str1)
print("The string in set:" ,str_set)

The string is: Hello World
The string in set: {'W', 'l', 'o', 'e', 'd', 'H', 'r', ' '}

In [ ]:
#34. Convert a set of strings to a set of integers.

In [22]:
#creating a string set
str_set={"123","456","896"}
print("The string set:",str_set)
#assiging an empty set
int_set=set()
#iterating through each element and convering to int and adding to empty set
for i in str_set:
    int_value=int(i)
    int_set.add(int_value)
print("The integer set is:", int_set)

The string set: {'456', '123', '896'}
The integer set is: {456, 123, 896}

In [ ]:
#35. Convert a set of integers to a set of strings

In [3]:
#creating the interger set
int_set={5,6,7,8}
print("The interger set:",int_set)
#assiging an empty set
str_set=set()
#iterating through each element and convering to string and adding to empty set
for i in int_set:
    str_value=str(i)
    str_set.add(str_value)
print("The string set:",str_set)

The interger set: {8, 5, 6, 7}
The string set: {'8', '6', '7', '5'}

In [ ]:
#36. Create a set from a tuple.

In [12]:
#creating a tuple
tup=(10,20,40,50)
print("The tuple:",tup)
#converting a tuple to set by set function
emp_set=set(tup)
print("The tuple converted to set:",emp_set)

The tuple: (10, 20, 40, 50)
The tuple converted to set: {40, 10, 20, 50}

In [ ]:
#37. Convert a set to a tuple.

In [13]:
#creating the set
st={50,60,70,80}
print("The set:",st)
##converting a set to tuple by tuple function
tup_set=tuple(st)
print("The convertesd set to tuple:",tup_set)

The set: {80, 50, 60, 70}
The convertesd set to tuple: (80, 50, 60, 70)

In [ ]:
#38. Find the maximum value in a set.

In [16]:
#creating the set
mset={50,10,30,40,80,70}
print("The set:",mset)
#finding the maximum value in the given set by max function
max_value=max(mset)
print("The maximum value in the set is:",max_value)

The set: {80, 50, 70, 40, 10, 30}
The maximum value in the set is: 80

In [ ]:
#39. Find the minimum value in a set.

In [18]:
#creating the set
miset={50,10,30,40,80,70}
print("The set:",miset)
#finding the minimum value in the given set by min function
mim_value=min(miset)
print("The maximum value in the set is:",mim_value)

The set: {80, 50, 70, 40, 10, 30}
The maximum value in the set is: 10

In [ ]:
#40. Create a set from user input.

In [20]:
#creating user input and converting to set by split function
user_set=set(input("Enter a sentence:").split())
print(user_set)

Enter a sentence: hai world

{'world', 'hai'}

In [ ]:
#41. Check if the intersection of two sets is empty.

In [26]:
#creating two sets
inter_set1={10,20,30,40}
inter_set2={50,60,70,80}
#finding intersection of the two sets using intersection function
inter_res=inter_set1.intersection(inter_set2)
#through if fun checking its empty or not
if not inter_res:
    print("The intersection of two sets are empty")
else:
    print("The intersection of two sets are not empty")

The intersection of two sets are empty

In [ ]:
#42. Create a set of the first 5 Fibonacci numbers.

In [3]:
#creating an empty set
fib_set=set()
#initiazling first two numbers
a,b= 0,1
#ooping to creating fibonacci series
for _ in range(6):
    #adding it
    fib_set.add(a)
    #calucating next fib numbers
    a,b =b, a+b
print("The first five set of fibonacci numbers:",fib_set)

The first five set of fibonacci numbers: {0, 1, 2, 3, 5}

In [ ]:
#43. Remove duplicates from a list using sets.

In [5]:
#creating a list
dul=[10,10,20,30,40,40,60,80,80]
print("The list:",dul)
#converting list into set for removing dulpicates
unq_set=set(dul)
#converting to set to list
unq_list=list(unq_set)
print("The duplicated removed set:",unq_list)

The list: [10, 10, 20, 30, 40, 40, 60, 80, 80]
The duplicated removed set: [40, 10, 80, 20, 60, 30]

In [ ]:
#44. Check if two sets have the same elements, regardless of their count.

In [19]:
#creating two sets
sset1={10,20,30}
sset2={10,20,30,10,20}
#sorting the sets 
sort_set1=sorted(sset1)
sort_set2=sorted(sset2)
#checking the sets having same elements or not through if fun and printing it
if sort_set1==sort_set2:
    print("The sets contains same elements:")
else:
    print("The sets does have same elements:")

The sets contains same elements:

In [ ]:
#45. Create a set of the first `n` powers of 2.

In [1]:
#initilizing upto how much series need
num_se=5
#using lambda function taking powers of 2 and printing it
power_of_two=set(map(lambda x:2**x,range(num_se)))
print(power_of_two)

{1, 2, 4, 8, 16}

In [ ]:
#46. Find the common elements between a set and a list.

In [8]:
#creating a list and set
list_ele=[10,40,60,70,80]
set_ele1={10,20,30,70,50}
#converting list into set
set_ele2=set(list_ele)
#finding the common elements by using intersection method
com_ele=set_ele1.intersection(set_ele2)
if not com_ele:
    print("There is no common elements:")
else:
    print("There are common elements:")
print(com_ele)

There are common elements:
{10, 70}

In [ ]:
#47. Create a set of the first `n` triangular numbers.

In [16]:
#creating an interger input from user 
n=int(input("Enter nth number:"))
#assiging empty set
triangel_num=set() 
#calculating ith number using formula and calculated triangular number to set
for i in range(1,n+1):
    ts=i*(i+1)//2
    triangel_num.add(ts)
print(triangel_num)

Enter nth number: 7

{1, 3, 6, 10, 15, 21, 28}

In [ ]:
#48. Check if a set contains another set as a subset.

In [19]:
#creating two sets
sub_set1={10,20,30,40,50,60,70}
sub_set2={10,20,30}
#checking set2 is subset of set1 using issubset function and printing using if fun
is_sub_set=sub_set2.issubset(sub_set1)
if is_sub_set:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [ ]:
#49. Create a set of alternating 1s and 0s of length `n`.

In [34]:
#creating input interger value
n=int(input("Enter nth number"))
#assinging empty set
alter_set=set()
#iterating through for loop
for i in range(n):
    #checking if even or odd and adding 1 and 0's respectively
    if i%2==0:
        alter_set.add(1)
    else :
        alter_set.add(0)
print(alter_set)

Enter nth number 5

{0, 1}

In [ ]:
#50 Merge multiple sets into one.

In [35]:
#creating three sets
m_set1={1,2,3}
m_set2={4,5,6}
m_set3={7,8,9}
#merging the sets using union function 
merge_set=m_set1.union(m_set2,m_set3)
print("The merged set:",merge_set)

The merged set: {1, 2, 3, 4, 5, 6, 7, 8, 9}